<style>
    .new {
        height: auto;
        position: relative;
        top: 50px;
    }

    input[type="radio"] {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        vertical-align: middle;
    }

    label {
        display: flex;
        align-items: center;
    }

    .filter-col1 ul, .filter-col2 ul {
        list-style: none;
        padding-left: 0;
    }

    .filter-col1 ul li, .filter-col2 ul li {
        display: flex;
        align-items: center;
        margin-bottom: 6px;
    }
</style>

<div class="bg0 m-t-23 p-b-140 new">
    <div class="container">
        <div class="flex-w flex-sb-m p-b-52">
            <div class="flex-w flex-l-m filter-tope-group m-tb-10">
                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
                    All Products
                </button>

                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".women">
                    Women
                </button>

                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".men">
                    Men
                </button>

                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".bag">
                    Bag
                </button>

                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".shoes">
                    Shoes
                </button>

                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".watches">
                    Watches
                </button>
            </div>

            <div class="flex-w flex-c-m m-tb-10">
                <div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
                    <i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
                    <i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                    Filter
                </div>

                <div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
                    <i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
                    <i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                    Search
                </div>
            </div>

            <!-- Search product -->
            <div class="dis-none panel-search w-full p-t-10 p-b-15">
                <div class="bor8 dis-flex p-l-15">
                    <button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
                        <i class="zmdi zmdi-search"></i>
                    </button>

                    <input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search-product" placeholder="Search">
                </div>  
            </div>

            <!-- Filter -->
            <div class="dis-none panel-filter w-full p-t-10">
                <div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm  p-b-15">
                    <div class="filter-col1 p-r-15 p-b-27">
                        <div class="mtext-102 cl2 p-b-15">
                            Prices
                        </div>

                        <ul>
                            <li class="p-b-6">
                                <label>
                                    <input type="radio" name="sort" value="priceLow" {{#if (eq sort 'priceLow')}}checked{{/if}}> Price: Low to High
                                </label>
                            </li>

                            <li class="p-b-6">
                                <label>
                                    <input type="radio" name="sort" value="priceHigh" {{#if (eq sort 'priceHigh')}}checked{{/if}}> Price: High to Low
                                </label>
                            </li>
                        </ul>
                    </div>

                    <div class="filter-col2 p-r-15 p-b-27">
                        <div class="mtext-102 cl2 p-b-15">
                            Price
                        </div>

                        <ul>
                            <li class="p-b-6">
                                <label>
                                    <input type="radio" name="productType" value="new" {{#if (eq productType 'new')}}checked{{/if}}> New Arrivals
                                </label>
                            </li>

                            <li class="p-b-6">
                                <label>
                                    <input type="radio" name="productType" value="old" {{#if (eq productType 'old')}}checked{{/if}}> Existing Products
                                </label>
                            </li>
                        </ul>
                    </div>

                    <div class="filter-col3 p-r-15 p-b-27">
                        <div class="mtext-102 cl2 p-b-15">
                            Categories
                        </div>

                        <ul>
                            {{#each categories}}
                            <li class="p-b-6">
                                <a href="/products?category={{this._id}}{{#if ../searchQuery}}&search={{../searchQuery}}{{/if}}{{#if ../sort}}&sort={{../sort}}{{/if}}{{#if ../productType}}&productType={{../productType}}{{/if}}" class="filter-link stext-106 trans-04">
                                    {{this.name}}
                                </a>
                            </li>
                            {{/each}}
                        </ul>
                    </div>

                    <div class="filter-col4 p-b-27">
                        <div class="mtext-102 cl2 p-b-15">
                            Sort By Name
                        </div>

                        <div class="flex-w p-t-4 m-r--5">
                            <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                A - Z
                            </a>

                            <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                Z - A 
                            </a>
                        </div>
                    </div>
                    <div>
                        <a href="/products" class="btn btn-primary">Clear Filter</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row isotope-grid">
            {{#each products }}
            <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
                <!-- Block2 -->
                <div class="block2">
                    <div class="block2-pic hov-img0">
                        <img src="/uploads/products/{{this.mainImage}}" alt="{{this.name}}" width="300" height="280">

                        <a href="/products/{{this._id}}" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                            Quick View
                        </a>
                    </div>

                    <div class="block2-txt flex-w flex-t p-t-14">
                        <div class="block2-txt-child1 flex-col-l">
                            <a href="/products/{{this._id}}" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                {{this.name}}
                            </a>

                            <p class="product-price">
                {{#if this.effectiveOffer}}
                <del>₹{{this.price}}</del>
                <span style="padding-right: 100px;">₹{{this.effectivePrice}}</span>
                <span class="offer-tag">{{this.effectiveOffer}}% off</span>
                {{else}}
                ₹{{this.price}}
                {{/if}}
            </p>
                        </div>

                        <div class="block2-txt-child2 flex-r p-t-3">
                            <a  class="btn-addwish-b2 dis-block js-addwish-b2" style="position: relative;left: -30px;" onclick="toggleWishlist('{{this._id}}')" data-product-id="{{this._id}}">
                               <img class="icon-heart1 dis-block trans-04" src="/images/icons/icon-heart-01.png" alt="ICON">
                               <img class="icon-heart2 dis-block trans-04 ab-t-l" src="/images/icons/icon-heart-02.png" alt="ICON">
                            </a>

                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>

        <!-- Load more -->
    </div>
    {{#if totalPages}}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {{#if (gt currentPage 1)}}
            <li class="page-item">
                <a class="page-link" href="/products?page={{subtract currentPage 1}}{{#if ../category}}&category={{../category}}{{/if}}{{#if ../sort}}&sort={{../sort}}{{/if}}{{#if ../productType}}&productType={{../productType}}{{/if}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo; Previous</span>
                </a>
            </li>
            {{/if}}

            {{#each (range 1 totalPages)}}
            <li class="page-item {{#eq this ../currentPage}}active{{/eq}}">
                <a class="page-link" href="/products?page={{this}}{{#if ../category}}&category={{../category}}{{/if}}{{#if ../sort}}&sort={{../sort}}{{/if}}{{#if ../productType}}&productType={{../productType}}{{/if}}">{{this}}</a>
            </li>
            {{/each}}

            {{#if (lt currentPage totalPages)}}
            <li class="page-item">
                <a class="page-link" href="/products?page={{add currentPage 1}}{{#if ../category}}&category={{../category}}{{/if}}{{#if ../sort}}&sort={{../sort}}{{/if}}{{#if ../productType}}&productType={{../productType}}{{/if}}" aria-label="Next">
                    <span aria-hidden="true">Next &raquo;</span>
                </a>
            </li>
            {{/if}}
        </ul>
    </nav>
    {{/if}}
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const sortRadioButtons = document.querySelectorAll('input[type="radio"][name="sort"]');
        sortRadioButtons.forEach(function (radioButton) {
            radioButton.addEventListener('click', function () {
                const sortValue = this.value;
                const currentUrl = new URL(window.location.href);
                currentUrl.searchParams.set('sort', sortValue);
                window.location.href = currentUrl.toString();
            });
        });

        const productTypeRadioButtons = document.querySelectorAll('input[type="radio"][name="productType"]');
        productTypeRadioButtons.forEach(function (radioButton) {
            radioButton.addEventListener('click', function () {
                const productTypeValue = this.value;
                const currentUrl = new URL(window.location.href);
                currentUrl.searchParams.set('productType', productTypeValue);
                window.location.href = currentUrl.toString();
            });
        });
        
  // Event listeners for A-Z and Z-A sorting
        const nameSortButtons = document.querySelectorAll('.flex-c-m.stext-107.cl6.size-301.bor7.p-lr-15.hov-tag1.trans-04');
        nameSortButtons.forEach(function (button) {
            button.addEventListener('click', function (e) {
                e.preventDefault();
                const sortValue = this.textContent.trim() === 'A - Z' ? 'nameAsc' : 'nameDesc';
                const currentUrl = new URL(window.location.href);
                currentUrl.searchParams.set('sort', sortValue);
                window.location.href = currentUrl.toString();
            });
        });
    });
async function toggleWishlist(productId) {
    const isLoggedIn = {{#if user}}true{{else}}false{{/if}};

    if (!isLoggedIn) {
        Swal.fire({
            title: 'Please log in',
            text: 'You need to log in to add items to your wishlist.',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Login',
            cancelButtonText: 'Cancel'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '/login';
            }
        });
    } else {
        const button = document.querySelector(`.js-addwish-b2[data-product-id="${productId}"]`);
        const isAdded = button.classList.contains('added-to-wishlist');

        try {
            const response = await fetch(`/wishlist/${isAdded ? 'remove' : 'add'}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ productId })
            });

            const data = await response.json();

            if (data.success) {
                if (isAdded) {
                    // Product is being removed from wishlist
                    button.classList.remove('added-to-wishlist');
                    button.querySelector('.icon-heart2').style.display = 'block';  // Hide the filled heart
                    Swal.fire('Removed', 'Product removed from wishlist', 'success');
                } else {
                    // Product is being added to wishlist
                    button.classList.add('added-to-wishlist');
                    button.querySelector('.icon-heart1').style.display = 'block';  // Hide the unfilled heart
                    Swal.fire('Added', 'Product added to wishlist', 'success');
                }
            } else {
                Swal.fire('Error', data.message, 'error');
            }
        } catch (error) {
            console.error('Error:', error);
            Swal.fire('Error', 'An error occurred. Please try again later.', 'error');
        }
    }
}
 
</script>
